<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
</head>
<body>
    <h2>Авторизация</h2>
    <form action="/login" method="post">
        <label for="username">Имя:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Вход">
    </form>

    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    {% if success_message %}
        <p style="color: green;">{{ success_message }}</p>
    {% endif %}

</body>
</html>
